
<div class="list-container">
    <h1>Personajes</h1>
    <div class="list">
      <div class="card" *ngFor="let character of characters | 
      paginate: { itemsPerPage: 10, currentPage: p }">
        <div class="card-body">
          <div class="card-subtitle">{{character.gender}}</div>
          <div class="card-title">{{character.name}}</div>
          <div class="card-subtitle">ojos: {{character.eye_color}}</div>
        </div>
      </div>
    </div>
</div>
<pagination-controls
 (pageChange)="fetchCharacters($event)">
</pagination-controls>
